<!--
  Generated template for the InterviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>interview</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="content">
  <ion-card>
    <ion-card-header>
      <h1>{{currQ?.QuestionText}}</h1>      
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-label>Which Position is the Applicant applying to?</ion-label>
        <ion-select interface="popover">
          <ion-option *ngFor="let j of jobTitles" [value]="j">{{j}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngFor="let ans of currQ?.AllAnswers; let i = index">
        <interview-answer #AnswersContainer [(selectedAnswer)]="answerList[currentQuestionIndex]" [answerText]="ans" [answerIndex]="i">

        </interview-answer>
      </ion-item>
    </ion-list>
  </ion-card>

  <button ion-button color="secondary" round (click)="Prev()" [disabled]="currentQuestionIndex == 0">Prev Question</button>
  <button ion-button color="secondary" round (click)="Next()" [disabled]="currentQuestionIndex == (questionList?.length - 1)">Next Question</button>
</ion-content>
